<div class="body">
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" id="closeMenu">&times;</a>
        <div class="overlay-content">
            <a href="/messages" data-navigo id="messageList">Messages</a>
            <a href="/create"  data-navigo>Create</a>
            <a href="/kotenlijst"  data-navigo>Kotenlijst</a>
            <a href="/mapbox" data-navigo>Mapbox</a>
            <a href="#" id="logout">Logout</a>
        </div>
    </div>
    <span id="openMenu">&#9776;</span>
</div>