<div class="body">
        <a href="/messages" data-navigo id="messageList">Messages</a>
    <a href="/create"  data-navigo>Create</a>
    <a href="/kotenlijst"  data-navigo>Kotenlijst</a>
    <a href="/mapbox" data-navigo>Mapbox</a>
    <a href="#" id="logout">Logout</a>
</div>