<div class="signup home page">
    <div class="body">
        <h1 class="mainTitle">ProxyKot</h1>
        <form id="signInForm">
            <input id="signup_firstname" type="text" name="firstname" placeholder="Name">
            <input id="signup_lastname" type="text" name="lastname" placeholder="Lastname">
            <input id="signup_adres" type="text" name="adres" placeholder="Adress">
            <input id="signup_phone" type="text" name="phone" placeholder="Phonenumber  ">
            <input id="signup_email" type="text" name="email" placeholder="Email">
            <input id="signup_password" type="password" name="password" placeholder="Password">
            <button  id="adminSignupButton" type="submit">Sign up as kotbaas</button>

        </form>
    </div>   
</div>