{{!-- {{> header }} --}}
<div class="page home full">
  {{!-- <h1>Hello, {{user}}!</h1> --}}
  <div class="body">
     <h1 class="MainTitle">ProxyKot</h1>
     <a href="/adminsignin" data-navigo class="homeButtons">Sign in</a>
     <a href="/adminlogin" data-navigo class="homeButtons">Log in</a>
    {{!-- Go to <a href="/about" data-navigo>About page</a><br />
    Go to <a href="/firebase" data-navigo>Firebase example page</a><br />
    Go to <a href="/mapbox" data-navigo>Mapbox example page</a><br /> --}}
  </div>
</div>
{{!-- {{> footer }} --}}