<div class="body">
      <nav id="menu"></nav>
  <a id="userHome" href="/koten" data-navigo >Terug naar home</a>
  <a id="adminHome" href="/adminhome" data-navigo >Terug naar home</a>
  <div id="myList">
  </div>
</div>
