<div class="body tinderSpel">
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" id="closeMenu">&times;</a>
        <div class="overlay-content" id="overlay-content">
            
        </div>
    </div>
    <span id="openMenu">&#9776;</span>
    <div id="tinderKotBox">
        <div id="kotList">
        </div>
    </div>
    <div id="tinderMap">
    </div>

    <div id="kotDetail">
         <div id="info">
        </div>
    </div>

</div>
