<div class="body messageBody">
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" id="closeMenu">&times;</a>
        <div class="overlay-content" id="overlay-content">
            
        </div>
    </div>
    <span id="openMenu">&#9776;</span>
    <br>
    <br>
    <div id="messageBox">

    </div>
</div>