<div class="signup home page">
    <div class="body">
        <h1 class="MainTitle">ProxyKot</h1>
        <form id="signInForm">
            <input id="signup_firstname" type="text" name="firstname" placeholder="Name">
            <input id="signup_lastname" type="text" name="lastname" placeholder="Lastname">
            <input id="signup_adres" type="text" name="adres" placeholder="Adress">
            <input id="signup_phone" type="text" name="phone" placeholder="Phonenumber  ">
            <input id="signup_email" type="text" name="email" placeholder="Email">
            <input id="signup_password" type="password" name="password" placeholder="Password">
            <select id="campus">
                <option value="Geen Campus">Kies uw Campus</option>
                <option value="1">Artevelde Mariakerke</option>
                <option value="2">Artevelde Gent</option>
                <option value="3">Odisee</option>
            </select>
            <br>
             <br>
            <button  id="userSignupButton" type="submit">Sign up as student</button>

        </form>
    </div>   
</div>