#favoriteBox
    max-width: 1200px
    width: 90%
    margin: 5% auto
    box-sizing: border-box
    padding: 2.5%
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75)

#favoImg
    width: 300px

#favoriteBox
    h1
        width: 85%
        color: #57badb

#favoriteBox
    h2
        width: 85%
        color: #57badb
        border-bottom: 1px solid #57badb
        padding-bottom: 2%

#favoriteBox
    p
        line-height: 1

#favoriteBox
    p:first-letter
        text-transform: capitalize