// sign in form 
#signInForm 
    select
        margin-top: 10%
        margin-left: 10%
        max-width: 1000px
        width: 80%
        height: 5vh
        border: none

#signInForm 
    input
        margin-top: 10%
        max-width: 1000px
        width: 80%
        height: 5vh
        border: none

#signInForm 
    button
        color: #fff
        border: none
        margin: 0px auto
        max-width: 1000px
        width: 80%
        display: block
        background: #436e7e
        padding: 5% 1% 5% 1%
        margin-top: 7.5%

//login form 
#logInForm 
    input
        max-width: 1000px
        width: 80%
        height: 5vh
        border: none

#logInForm 
    input + input
        margin-top: 10%
        max-width: 1000px
        width: 80%
        height: 5vh
        border: none

#logInForm 
    button
        color: #fff
        border: none
        margin: 0px auto
        max-width: 1000px
        width: 80%
        display: block
        background: #436e7e
        padding: 5% 1% 5% 1%
        margin-top: 7.5%

#createForm
    max-width: 1000px
    margin-left: 15%
    padding-top: 10%

#createForm 
    input, select, textarea
        display: block
        margin-top: 5%
        margin-bottom: 5%
        max-width: 1000px
        width: 80%
        height: 5vh
        border: 1px solid black

#createForm 
    input#image
        border: none

#createForm 
    textarea
        height: 10vh

#createForm
    h1
        color: #57badb
        border-bottom: 1px solid #57badb
        width: 80%

#createForm
    #createSubmit
        background-color: #57badb
        color: #fff
        width: 82.5%
        border: none

#createdKotList
    text-align: center

#editForm
    display: none
    max-width: 1000px
    margin-left: 15%
    padding-top: 10%

#editForm
    #editSubmit
        background-color: #57badb
        color: #fff
        width: 82.5%
        border: none

#editForm 
    input, select, textarea
        display: block
        margin-top: 5%
        margin-bottom: 5%
        max-width: 1000px
        width: 80%
        height: 5vh
        border: 1px solid black

#editForm 
    input#image
        border: none

#editForm 
    textarea
        height: 10vh

#editForm
    h1
        color: #57badb
        border-bottom: 1px solid #57badb
        width: 80%

#contactForm
    display: none
    z-index: 4
    max-width: 1920px
    width: 100%
    position: absolute
    top: 0px
    height: 100vh
    background: rgba(0,0,0,0.7)

#contactForm
    textarea
        width: 80%
        height: 20vh
        margin-left: 10%
        border-top: none
        border-right: none
        border-left: 1px solid #436e7e
        border-bottom: none

#contactForm
    #kotenlijstMessageClose
        margin-left: 85%

#contactForm
    h1
        text-align: center
        margin-top: 5%
        
#contactForm
    #sendMessage
        background: #436e7e
        border: none
        padding-top: 3%
        padding-bottom: 3%
        padding-left: 37.5%
        padding-right: 37.5%
        margin-top: 5%
        margin-left: 7.5%
        color: #fff

    
