@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css"
// Generic styling
body
    font-size: 12px
    margin: 0 auto
    background: #fefefe
    height: 100vh
    #app
        height: 100%
        position: relative
    #map
        height: 100vh

    
// general
@import "./colors"
@import "./page"
@import "./header"
@import "./footer"
@import "./style"
@import "./mapbox"
// pages
@import "./about"


