
body{
    font-family:'Open Sans';

}


::placeholder{
    padding-left:5%;
}


#kotDetail{
    height:100vh;
    background-color:rgb(0,0,0);
    opacity:0.8;
    display: none;
    margin-top:-35%;
}
#kotDetail #info{
    position: relative;
    left:8%;
    top: 10%;
    width:300px;
    height:80vh;
    background-color:#fff;
    text-align: center;
}
#kotDetail #info form textarea{
    position: relative;
    margin-left:8.5%;
    height:30vh;
}
#kotDetail #info form #sendMessage{
    background:#436e7e;
    border:none;
    padding-top:3%;
    padding-bottom:3%;
    padding-left: 37.5%;
    padding-right: 37.5%;
    color:#fff;
}
#kotList{
    position: absolute;
    text-align: center;
}
